
UPSTASH_REDIS_REST_URL=https://civil-alien-152568.upstash.io
UPSTASH_REDIS_REST_TOKEN=gQAAAAAAAlP4AAIgcDI2YjU1ZWU2YzZlYTg0NjhlYWE0MTA2NmM1ZGVjZDU4Zg
PRESENCE_WRITE_SECRET=af8e932ed2a0a60fe49af6a5340b4bdf5ed394d119b6655e0803946cbf67ffc8
